

#comment-name{
    font-size:25px;
    font-weight:bold;
}

#leftSelection {
    background-color: #ecf9ff;
}

#date{
    text-align:end;
    color:#7c7c7c;
}

#commentList {
    border-bottom: 1px solid gray;
}

